<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assignment-2</display-name>
  <welcome-file-list>
    <welcome-file>GetFormData.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DataValidation</display-name>
    <servlet-name>DataValidation</servlet-name>
    <servlet-class>com.itmd566.DataValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataValidation</servlet-name>
    <url-pattern>/DataValidation</url-pattern>
  </servlet-mapping>
</web-app>
